[project]
name = "todo-phase-1"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "pytest>=9.0.2",
    "rich>=14.2.0",
    "typer>=0.21.0",
]
